* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  text-align: center;
  background-color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
}

label {
  margin: 0.5rem 0;
}

input {
  width: 80%;
  padding: 0.5rem;
}

button {
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1rem;
}

ul {
  min-height: 2rem;
  list-style-type: none;
  padding: 0 2.5rem;
}

li {
  background-color: rgb(139, 110, 168);
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}
